body {
    margin: 0px;
    color: white;
    background-image: url('img/background.png');
}

textarea {
    width: 100%;
}

hr {
    border: 1px dotted #2a9fd6;
}

.blueButton {
  background-color: #2a9fd6;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.blueButton:hover {opacity: 1}

.blueButton-small {
  background-color: #2a9fd6;
  border: none;
  color: white;
  padding: 5px 16px;
  text-align: center;
  font-size: 14px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.blueButton-small:hover {opacity: 1}

.site-logo {
    margin: 20px;
}

.site-logo img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 1px 4px #2a9fd6;
    transition: all ease-out 2.0s;
}

.site-logo img:hover {
    transform: rotate(360deg);
}

.site-header {
    background-color: rgba(6, 6, 6, 0.3);
    font-size: 30px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 300px;
    text-align: center;
    position: fixed;
    float: left;
}

.site-nav {
    background-color: rgba(42, 159, 214, 1);
    position: fixed;
    top: 0;
    left: 300px;
    width: 100%;
    overflow: hidden;
}

.site-nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.site-nav a:hover {
    background: rgba(34, 128, 173, 1);
    color: white;
}

.user-panel {
    font-size: 20px;
    border: 1px rgba(52, 52, 52, 0.6) solid;
    margin: 10px;
    padding: 5px;
}

.user-panel-title {
    background-color: rgba(34, 128, 173, 0.8);
    margin: 5px;
    padding: 5px;
}

.user-panel p {
    margin: 5px;
}

.site-content {
    margin-top: 70px;
    margin-left: 320px;
    background-color: rgba(6, 6, 6, 0.3);
    border-radius: 10px;
    float: left;
    width: calc(100% - 340px);
}

.post {
    margin: 20px;
}

.post a {
    color: #2a9fd6;
}

.post h2 {
    color: #2a9fd6;
}

.error-message {
    position: fixed;
    background-color: rgba(42, 159, 214, 0.50);
    padding: 20px;
    border-radius: 10px;
    z-index: 10;
    left: 50%;
    top: 60px;
}

.new_post input {
    width: 100%;
}

.author {
    font-size: 12px;
    text-align: right;
    margin-top: 0px;
}
