<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{% for message in get_flashed_messages() %}
    <section class="error-message">{{ message }}</section>
{% endfor %}
<header class="site-header">
    <section class="site-logo">
        <a href="{{ url_for('blog.index_view') }}">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
        </a>
        <p>Blog</p>
    </section>
    <section class="user-panel">
        <p class="user-panel-title">Panel Użytkownika</p>
        {% if g.user %}
            <p>Witaj {{ g.user['username'] }}!</p>
            <a href="{{ url_for('user.user_view') }}">
                <button class="blueButton">Użytkownik</button>
            </a>
            {% if g.user['role_id'] == 1 %}
                <a href="{{ url_for('post.new_view') }}">
                    <button class="blueButton">Dodaj Post</button>
                </a>
                <a href="{{ url_for('category.categories_view') }}">
                    <button class="blueButton">Kategorie</button>
                </a>
            {% endif %}
            <br>
            <br>
            <form action="/auth/logout" method="post">
                <input class="blueButton" type="submit" value="Wyloguj">
            </form>
        {% else %}
            <form action="/auth/login" method="post">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
                <label for="password">Hasło</label>
                <input type="password" name="password" id="password"
                       pattern="(?=.*\d)(?=.*\w).{8,}"
                       title="Hasło musi zawierac co najmniej 8 znaków w tym jedną cyfrę jedną literę"
                       required>
                <input class="blueButton" type="submit" value="Zaloguj">
            </form>
            <form action="/auth/register" method="get">
                <input class="blueButton" type="submit" value="Rejestracja">
            </form>
        {% endif %}
    </section>
</header>
<nav class="site-nav">
    {% for category in g.categories %}
        <a href="{{ url_for( 'category.category_view', category_id=category['IdCategory']) }}">{{ category['name'] }}</a>
    {% endfor %}
</nav>
<section class="site-content">
    {% block content %} {% endblock %}
</section>
</body>
</html>