{% extends 'base.html' %}

{% block content %}
    <div class="post">
        <h2>Kategorie</h2>
        <a href="{{ url_for('category.new_view') }}"><button class="blueButton-small">Dodaj Kategorie</button></a>
    </div>
    {% for category in g.categories %}
        <hr>
        <article class="post">
            <a href="{{ url_for( 'category.category_view', category_id=category['IdCategory']) }}">
                <p>{{ category['name'] }}</p>
            </a>
            <a href="{{ url_for('category.edit_view', category_id=category['idCategory']) }}"><button class="blueButton-small">Edytuj</button></a>
            <a href="{{ url_for('category.delete_view', category_id=category['idCategory']) }}"><button class="blueButton-small">Usun</button></a>
        </article>
    {% endfor %}
{% endblock %}