{% extends 'base.html' %}

{% block content %}
    <section class="post">
        <h2>Zmiana Hasła</h2>
        <form action="{{ url_for('user.change_password_view', idUser=user['idUser']) }}" method="post">
            <label for="old-password">Stare Hasło</label>
            <br>
            <input type="password" name="old_password" id="old_password"
                   pattern="(?=.*\d)(?=.*\w).{8,}"
                   title="Hasło musi zawierac co najmniej 8 znaków w tym jedną cyfrę jedną literę"
                   required>
            <br><label for="password">Nowe Hasło</label>
            <br>
            <input type="password" name="password" id="password"
                   pattern="(?=.*\d)(?=.*\w).{8,}"
                   title="Hasło musi zawierac co najmniej 8 znaków w tym jedną cyfrę jedną literę"
                   required>
            <br>
            <input class="blueButton" type="submit" value="Zapisz">
        </form>
    </section>
{% endblock %}