{% extends 'base.html' %}

{% block content %}
    <section class="post">
        <h2>Nowa Kategoria</h2>
        <form action="/category/new" method="post" class="new_post">
            <label for="name">Nazwa</label>
            <input name="name" id="name" required>
            <br>
            <input class="blueButton" type="submit" value="Dodaj">
        </form>
    </section>
{% endblock %}