{% extends 'base.html' %}

{% block content %}
    <section class="post">
        <h2>Nowy Post</h2>
        <form action="/post/new" method="post" class="new_post">
            <label for="title">Tytuł</label>
            <input name="title" id="title" required>
            <label for="content">Post</label>
            <textarea name="content" id="content" rows="20" required></textarea>
            <label for="tags">Tagi (oddzielone przecinkami)</label>
            <input name="tags" id="tags">
            <label for="idCategory">Kategoria</label><br>
            <select name="idCategory" id="idCategory">
                {% for category in g.categories %}
                    <option value="{{ category['idCategory'] }}">{{ category['name'] }}</option>
                {% endfor %}
            </select>
            <br>
            <input class="blueButton" type="submit" value="Opublikuj">
        </form>
    </section>
{% endblock %}