{% extends 'base.html' %}

{% block content %}
    <section class="post">
        <h2>Edytuj kategorie</h2>
        <form action="{{ url_for('category.edit_view', category_id=category['idCategory']) }}" method="post" class="new_post">
            <label for="name">Nazwa</label>
            <input name="name" id="name" value="{{ category['name'] }}" required>
            <br>
            <input class="blueButton" type="submit" value="Zapisz">
        </form>
    </section>
{% endblock %}