{% extends 'base.html' %}

{% block content %}
    <section class="post">
        <h2>Edytuj Post</h2>
        <form action="{{ url_for('post.edit_view', post_id=post['idPost']) }}" method="post" class="new_post">
            <label for="title">Tytuł</label>
            <input name="title" id="title" value="{{ post['title'] }}" required>
            <label for="content">Post</label>
            <textarea name="content" id="content" rows="20" required>{{ post['content'] }}</textarea>
            <label for="tags">Tagi (oddzielone przecinkami)</label>
            <input name="tags" id="tags" value="{{ tags }}">
            <label for="idCategory">Kategoria</label><br>
            <select name="idCategory" id="idCategory">
                {% for category in g.categories %}
                    {% if post['idCategory'] != category['idCategory'] %}
                        <option value="{{ category['idCategory'] }}">{{ category['name'] }}</option>
                    {% else %}
                        <option value="{{ category['idCategory'] }}" selected>{{ category['name'] }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <br>
            <input class="blueButton" type="submit" value="Opublikuj">
        </form>
    </section>
{% endblock %}