{% extends 'base.html' %}

{% block content %}
    <section class="post">
        <h2>Edycja użytkownika</h2>
        <form action="{{ url_for('user.edit_view', idUser=user['idUser']) }}" method="post">
            <label for="name">Nick</label>
            <br>
            <input name="name" id="name" value="{{ user['name'] }}" required>
            <br>
            <label for="email">Email</label>
            <br>
            <input type="email" name="email" id="email" value="{{ user['email'] }}" required>
            <br>
            <input class="blueButton" type="submit" value="Zapisz">
        </form>
    </section>
{% endblock %}