{% extends 'base.html' %}

{% block content %}
    <article class="post">
        <h2>{{ post['title'] }}</h2>
        <p class="author">
            {% if g.user['role_id'] == 1 %}
                <a href="{{ url_for('post.edit_view', post_id=post['idPost']) }}">
                    <button class="blueButton-small">Edytuj</button>
                </a>
                <a href="{{ url_for('post.delete_view', post_id=post['idPost']) }}">
                    <button class="blueButton-small">Usuń</button>
                </a>
            {% endif %}
            Opublikowane przez <a href="{{ url_for('user.user_view', idUser=post['idUser']) }}">{{ author_name }}</a> | {{ post['date'] }}</p>
        {{ post['content']|safe }}
        {% if tags %}
            <p class="tags">
                Tagi:
                {% for tag in tags %}
                    <a href="{{ url_for('tag.tag_view', tag_id=tag['idTag']) }}">{{ tag['name'] }}</a>,
                {% endfor %}
            </p>
        {% endif %}
    </article>
{% endblock %}