{% extends 'base.html' %}

{% block content %}
    <section class="post">
        <h2>Rejestracja</h2>
        <form action="/auth/register" method="post">
            <label for="name">Nick</label>
            <br>
            <input name="name" id="name" required>
            <br>
            <label for="email">Email</label>
            <br>
            <input type="email" name="email" id="email" required>
            <br>
            <label for="password">Hasło</label>
            <br>
            <input type="password" name="password" id="password"
                   pattern="(?=.*\d)(?=.*\w).{8,}"
                   title="Hasło musi zawierac co najmniej 8 znaków w tym jedną cyfrę jedną literę"
                   required>
            <br>
            <input class="blueButton" type="submit" value="Zrejestruj">
        </form>
    </section>
{% endblock %}