{% extends 'base.html' %}

{% block content %}
    <div class="post">
        <h2>Tag: {{ tag_name }}</h2>
    </div>
    {% if not posts %}
        <article class="post">
            <h1>Brak Postów</h1>
        </article>
    {% endif %}
    {% for post in posts %}
        <hr>
        <article class="post">
            <a href="{{ url_for('post.post_view', post_id=post['IdPost']) }}">
                <h1>{{ post['title'] }}</h1>
            </a>
            <p>{{ post['content'][0:250]|safe }} <a href="{{ url_for('post.post_view', post_id=post['IdPost']) }}"><button class="blueButton-small">Cały post</button></a></p>
        </article>
    {% endfor %}
{% endblock %}