{% extends 'base.html' %}

{% block content %}
    <article class="post">
        <p><b>Nick:</b> {{ user['name'] }}</p>
        <p><b>Email:</b> {{ user['email'] }}</p>
        {% if user['idUser'] == g.user['user_id'] %}
            <p><a href="{{ url_for('user.edit_view') }}">
                <button class="blueButton-small">Edytuj</button>
            </a> <a href="{{ url_for('user.change_password_view') }}">
                <button class="blueButton-small">Zmień hasło</button>
            </a></p>
        {% endif %}
    </article>
    <h2 class="post">Posty Użytkownika:</h2>
    {% if not posts %}
        <article class="post">
            <h1>Brak Postów</h1>
        </article>
    {% endif %}
    {% for post in posts %}
        <hr>
        <article class="post">
            <a href="{{ url_for('post.post_view', post_id=post['IdPost']) }}">
                <h1>{{ post['title'] }}</h1>
            </a>
            <p>{{ post['content'][0:250]|safe }} <a href="{{ url_for('post.post_view', post_id=post['IdPost']) }}">
                <button class="blueButton-small">Cały post</button>
            </a></p>
        </article>
    {% endfor %}
{% endblock %}